header {
    background-image: url("images/blurry-gradient-haikei.png");
    background-size: cover;
    background-position: top center;
    height: 150px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }